body {
    font-family: 'Segoe UI', sans-serif;
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-selector .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin: 24px;
}
.container-selector .buttons button {
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 24px;
    font-weight: bolder;
    background-color: #007bff;
    color: #f2f4f8;
}
.container-selector .buttons button:hover {
    background-color: cadetblue;
}
.container-selector .buttons .select-btn.selected {
    background-color: crimson;
}

.main-container {
    display: none;
}
.main-container.selected {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background: white;
}
input[type="file"]::file-selector-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: lightgreen;
}
input[type="file"]::file-selector-button:hover {
    background-color: darkolivegreen;
    color: ghostwhite;
}
.main-container button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
